* {
    margin: 0;
    padding: 0;
}


ul,
a,
input {
    list-style: none;
    text-decoration: none;
    outline: none;
}



html {
    width: 100%;
    height: 100%;

    .row {
        margin-left: 0;

        margin-right: 0;
    }

    body {
        max-width: 1920px;
        margin: auto;
        background-image: linear-gradient(rgb(21, 69, 153), rgb(145, 128, 129), rgb(221, 109, 80)) !important;
    }
}

.head {
    width: 100%;
    height: 60px;

    .container {
        max-width: 1920px;
        margin: auto;
        z-index: 3;
    }
}

.main {
    width: 100%;
    margin-top: 20px;

    .main-t {
        max-width: 1920px;
        height: 350px;

        .main-t-1 {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            img {
                background-size: cover;
            }


            .main-t-2 {
                width: 100%;
                display: flex;

                position: absolute;
                left: 0;

                input {
                    width: 85%;
                    height: 50px;
                    outline: none;
                    border: none;
                }

                ::-webkit-input-placeholder {
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                    padding-left: 10px;
                }

                button {
                    width: 15%;
                    background-color: rgb(21, 69, 153);
                    border: none;
                    color: #FFF;
                    white-space: nowrap;

                    a {
                        color: #FFF;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.bottom {
    width: 100%;
    overflow: hidden;

    .container {
        border-radius: 15px;
        height: 230px;

        h3 {
            margin-top: -15px;
            text-align: center;
        }

        div {
            margin-top: 20px;
            text-align: left;
            text-indent: 2em;
            height: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            height: 20px;

            span {
                float: right;
            }
        }

        button {
            float: right;
            border: none;
            border-radius: 15px;
        }
    }
}