* {
  margin: 0;
  padding: 0;
}
ul,
a,
input {
  list-style: none;
  text-decoration: none;
  outline: none;
}
html {
  width: 100%;
  height: 100%;
}
html .row {
  margin-left: 0;
  margin-right: 0;
}
html body {
  max-width: 1920px;
  margin: auto;
  background-image: linear-gradient(#154599, #918081, #dd6d50) !important;
}
.head {
  width: 100%;
  height: 60px;
}
.head .container {
  max-width: 1920px;
  margin: auto;
  z-index: 3;
}
.main {
  width: 100%;
  margin-top: 20px;
}
.main .main-t {
  max-width: 1920px;
  height: 350px;
}
.main .main-t .main-t-1 {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.main .main-t .main-t-1 img {
  background-size: cover;
}
.main .main-t .main-t-1 .main-t-2 {
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
}
.main .main-t .main-t-1 .main-t-2 input {
  width: 85%;
  height: 50px;
  outline: none;
  border: none;
}
.main .main-t .main-t-1 .main-t-2 ::-webkit-input-placeholder {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.main .main-t .main-t-1 .main-t-2 button {
  width: 15%;
  background-color: #154599;
  border: none;
  color: #FFF;
  white-space: nowrap;
}
.main .main-t .main-t-1 .main-t-2 button a {
  color: #FFF;
  text-decoration: none;
}
.bottom {
  width: 100%;
  overflow: hidden;
}
.bottom .container {
  border-radius: 15px;
  height: 230px;
}
.bottom .container h3 {
  margin-top: -15px;
  text-align: center;
}
.bottom .container div {
  margin-top: 20px;
  text-align: left;
  text-indent: 2em;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom .container p {
  height: 20px;
}
.bottom .container p span {
  float: right;
}
.bottom .container button {
  float: right;
  border: none;
  border-radius: 15px;
}
