@import "footer.css";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 10rem;
  height: 1.28rem;
  background-image: linear-gradient(180deg, #fa4651 0%, #f4804c 100%);
  padding: 0.16rem 0.4267rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .header_l span:nth-child(2) {
  font-weight: 600;
  color: #ffffff;
  font-size: 0.5333rem;
  line-height: 0.5067rem;
}
header .header_l span:nth-child(3) {
  color: #ffffff;
  font-size: 0.3733rem;
  line-height: 0.4533rem;
}
/* section */
section {
  width: 10rem;
  margin: 1.28rem auto 0;
  background-color: #f9f9f9;
}
section ul {
  width: 10rem;
  padding: 0.2667rem 0.4533rem 0 0.3733rem;
  box-sizing: border-box;
}
section ul li {
  width: 9.1733rem;
  height: 2.8267rem;
  margin-top: 0.2667rem;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section ul li > img {
  width: 0.4267rem;
  height: 0.4267rem;
  margin-left: -0.4267rem;
}
section ul li > div {
  width: 7.6267rem;
  display: flex;
  margin-left: -0.4267rem;
}
section ul li > div > img {
  width: 2.8rem;
  height: 2.1067rem;
}
section ul li > div > div {
  margin-left: 0.24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section ul li > div > div p:nth-child(1) {
  width: 5.2533rem;
  height: 0.5333rem;
  font-weight: 600;
  color: #3d444d;
  font-size: 0.3733rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section ul li > div > div p:nth-child(2) {
  width: 4.4267rem;
  height: 0.4533rem;
  color: #b0b8c2;
  font-size: 0.32rem;
  margin-bottom: 0.4rem;
}
section ul li > div > div p:nth-child(3) {
  display: flex;
  justify-content: space-between;
}
section ul li > div > div p:nth-child(3) span:nth-child(1) {
  width: 1.7333rem;
  height: 0.5333rem;
  color: #f23a3a;
  font-size: 0.3733rem;
  line-height: 0.4533rem;
}
section ul li > div > div p:nth-child(3) span:nth-child(2) {
  margin-right: 0.2667rem;
  display: flex;
  align-items: flex-end;
}
section ul li > div > div p:nth-child(3) span:nth-child(2) i {
  width: 0.5333rem;
  height: 0.5333rem;
}
section ul li > div > div p:nth-child(3) span:nth-child(2) em {
  color: #333333;
  font-size: 0.2933rem;
  line-height: 0.3733rem;
  margin: 0 0.2933rem;
}
section ul li:nth-child(1) {
  margin-top: 0;
}
.fixed {
  width: 10rem;
  height: 1.3333rem;
  padding: 0 0.2933rem 0 0.4533rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 1.4133rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0rem 0.0267rem 0rem #e5e5e5 inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed > div:nth-child(1) {
  display: flex;
  align-items: center;
  line-height: 1.0667rem;
}
.fixed > div:nth-child(1) span:nth-child(1) {
  display: flex;
  align-items: center;
  margin-right: 1.0667rem;
}
.fixed > div:nth-child(1) span:nth-child(1) i:nth-child(1) {
  width: 0.4267rem;
  height: 0.4267rem;
  margin-bottom: 0.4267rem;
  margin-right: 0.1333rem;
}
.fixed > div:nth-child(1) span:nth-child(1) i:nth-child(2) {
  color: #202020;
  font-size: 0.3733rem;
}
.fixed > div:nth-child(1) span:nth-child(2) {
  color: #f23a3a;
  font-size: 0.3733rem;
}
.fixed > div:nth-child(2) {
  width: 3.92rem;
  height: 1.0667rem;
  line-height: 1.0667rem;
  text-align: center;
  border-radius: 0.5333rem;
  background-color: #ff6200;
  color: #ffffff;
  font-size: 0.4267rem;
}
