@import "header2.css";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
body {
  background-color: #f9f9f9;
}
