@import "header.css";
@import "footer.css";
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 32px !important;
    }
}


/* section */

section {
    margin: 1.1467rem auto 1.4133rem;
    display: flex;
    width: 10rem;
    height: 15.0667rem;
    overflow: hidden;
}

section ul {
    overflow-y: scroll;
}

section ul::-webkit-scrollbar {
    display: none;
}

section ul:nth-child(1) {
    width: 2.7733rem;
    background-color: #f6f7fb;
}

section ul:nth-child(1) li {
    height: 1.3333rem;
    color: #6a6c6b;
    font-size: 0.4267rem;
    line-height: 1.3333rem;
    text-align: center;
}

section ul:nth-child(1) li:nth-child(2) {
    background-color: #fff;
    color: #06121e;
    font-weight: 600;
    position: relative;
}

section ul:nth-child(1) li:nth-child(2)::after {
    content: '';
    width: 0.1333rem;
    height: 0.3733rem;
    background-color: #ff6200;
    border-radius: 0.08rem;
    position: absolute;
    left: 0.32rem;
    bottom: 0.48rem;
}

section ul:nth-child(2) {
    width: 7.2267rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section ul:nth-child(2) li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.2667rem;
}

section ul:nth-child(2) li img {
    width: 1.6rem;
    height: 1.6rem;
}

section ul:nth-child(2) li span {
    color: #3c434d;
    font-size: 0.2667rem;
    line-height: 0.3733rem;
}