@import "header.css";

@import "footer.css";
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
i,
em {
    font-style: normal;
}
@media screen and (min-width: 750px) {
    html {
      font-size: 75px !important;
    }
  }
@media screen and (max-width: 320px) {
    html {
      font-size: 32px !important;
    }
}
body {
    width: 10rem;
    margin: 0 auto;
}
/* section */
section {
    margin: 1.1467rem auto 1.4133rem;
    display: flex;
    width: 10rem;
    height: 15.0667rem;
    overflow: hidden;
    ul {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    ul:nth-child(1) {
        width: 2.7733rem;
        background-color:#f6f7fb;
        li {
            height: 1.3333rem;
            color:#6a6c6b;
            font-size:.4267rem;
            line-height:1.3333rem;
            text-align:center;
        }
        li:nth-child(2) {
            background-color: #fff;
            color:#06121e;
            font-weight:600;
            position: relative;
            &::after {
                content: '';
                width:.1333rem;
                height:.3733rem;
                background-color:#ff6200;
                border-radius:.08rem;
                position: absolute;
                left: .32rem;
                bottom: .48rem;
            }
        }
    }
    ul:nth-child(2) {
        width: 7.2267rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 .2667rem;
            img {
                width: 1.6rem;
                height: 1.6rem;
            }
            span {
                color:#3c434d;
                font-size:.2667rem;
                line-height:.3733rem;
            }
        }
    }
}