footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1.4133rem;
    width: 10rem;
    margin: 0 auto;
    box-shadow: 0.0667rem 0.1155rem 0.56rem rgba(6, 0, 1, 0.14);
    background-color: #fff;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li a img {
    width: 0.5333rem;
    margin: 0.2667rem 0 0.16rem 0;
}

footer ul li a span {
    color: #707070;
    font-size: 0.2667rem;
    line-height: 0.3467rem;
}