/* header2 */
header {
  background-image: linear-gradient(180deg, #f24c59 0%, #f28c4c 100%);
  width: 10rem;
  height: 1.28rem;
  text-align: center;
  line-height: 1.28rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 0.5333rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
header::after {
  content: "";
  position: absolute;
  left: 0.4267rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.2856rem;
  height: 0.5176rem;
  border-color: #ffffff;
  background: url(../images/zhifu/1.png);
  background-size: cover;
}
