header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 0;
    width: 10rem;
    height: 1.3067rem;
    display: flex;
    padding-top: 0.24rem;
    padding-left: 0.4267rem;
    box-sizing: border-box;
    background-image: linear-gradient(179.83deg, #fa4651 0%, #f4804c 100%);
}

header .header_l {
    width: 7.9467rem;
    height: 0.8533rem;
    background-color: #ffffff;
    border-radius: 2.48rem;
    display: flex;
    align-items: center;
    margin-right: 0.4rem;
}

header .header_l img {
    width: 0.3733rem;
    height: 0.3733rem;
    margin: 0 0.2133rem 0 0.64rem;
}

header .header_l input {
    width: 6.1333rem;
    height: 0.5333rem;
    font-family: PingFang SC;
    color: #b0b8c2;
    font-size: 0.3733rem;
    border: none;
    outline: none;
}

header .header_r {
    width: 0.48rem;
    height: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header .header_r img {
    width: 0.4267rem;
    height: 0.4267rem;
}

header .header_r p {
    width: 0.6667rem;
    height: 0.3467rem;
    font-family: PingFang SC;
    color: #ffffff;
    font-size: 0.24rem;
}

header .header_r::after {
    content: "13";
    position: absolute;
    right: -0.32rem;
    top: -0.16rem;
    width: 0.5067rem;
    height: 0.3733rem;
    background-color: #f49641;
    border-radius: 1.12rem;
    color: #ffffff;
    font-size: 0.2667rem;
    z-index: 1;
    text-align: center;
    line-height: 0.3733rem;
}