@import "footer.css";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
/* 全局背景色 */
.bg {
  background-color: #eee;
  width: 10rem;
  margin: 0 auto;
  /* top */
  /* bottom */
}
.bg .top {
  width: 10rem;
  height: 7.12rem;
  background-image: linear-gradient(180deg, #f24c59 0%, #f28c4c 100%);
  padding-top: 1.8133rem;
  box-sizing: border-box;
  margin: 0 auto;
  /* header */
  /* nav */
  /* banner */
}
.bg .top header {
  width: 10rem;
  height: 0.8533rem;
  display: flex;
  padding-left: 0.4267rem;
  box-sizing: border-box;
}
.bg .top header .header_l {
  width: 7.9467rem;
  height: 0.8533rem;
  background-color: #ffffff;
  border-radius: 2.48rem;
  display: flex;
  align-items: center;
  margin-right: 0.4rem;
}
.bg .top header .header_l img {
  width: 0.3733rem;
  height: 0.3733rem;
  margin: 0 0.2133rem 0 0.64rem;
}
.bg .top header .header_l input {
  width: 6.1333rem;
  height: 0.5333rem;
  font-family: PingFang SC;
  color: #b0b8c2;
  font-size: 0.3733rem;
  border: none;
  outline: none;
}
.bg .top header .header_r {
  width: 0.48rem;
  height: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bg .top header .header_r img {
  width: 0.4267rem;
  height: 0.4267rem;
}
.bg .top header .header_r p {
  width: 0.6667rem;
  height: 0.3467rem;
  font-family: PingFang SC;
  color: #ffffff;
  font-size: 0.24rem;
}
.bg .top header .header_r::after {
  content: "13";
  position: absolute;
  right: -0.32rem;
  top: -0.16rem;
  width: 0.5067rem;
  height: 0.3733rem;
  background-color: #f49641;
  border-radius: 1.12rem;
  color: #ffffff;
  font-size: 0.2667rem;
  z-index: 1;
  text-align: center;
  line-height: 0.3733rem;
}
.bg .top nav {
  width: 10rem;
  height: 0.5867rem;
  overflow-x: scroll;
  margin: 0.3rem 0 0.2667rem 0;
  padding-left: 0.5067rem;
  box-sizing: border-box;
}
.bg .top nav ul {
  width: 18rem;
}
.bg .top nav ul li {
  float: left;
  font-size: 0.3733rem;
  color: #fff;
  margin-right: 0.96rem;
}
.bg .top nav::-webkit-scrollbar {
  display: none;
}
.bg .top .banner {
  width: 10rem;
  height: 3.3067rem;
  overflow-x: scroll;
}
.bg .top .banner ul {
  overflow: hidden;
  width: 50rem;
  height: 3.3067rem;
  display: flex;
}
.bg .top .banner ul li {
  margin: 0 0.4rem;
}
.bg .top .banner ul li img {
  width: 9.1733rem;
  height: 3.3067rem;
  border-radius: 0.2667rem;
}
.bg .top .banner::-webkit-scrollbar {
  display: none;
}
.bg .bottom {
  height: 80rem;
  width: 9.1733rem;
  margin: 0 auto;
  /* section1 */
  /* section2 */
  /* section3 */
  /* section4 */
  /* section5 */
  /* section6 */
  /* section7 */
}
.bg .bottom .section1 {
  height: 3.7867rem;
  width: 9.1733rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  box-shadow: 0rem 0rem 0.2667rem rgba(114, 114, 114, 0.16);
  margin-top: 0.2667rem;
  padding-top: 0.16rem;
  box-sizing: border-box;
}
.bg .bottom .section1 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bg .bottom .section1 ul li {
  width: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg .bottom .section1 ul li img {
  width: 1.28rem;
  height: 1.2533rem;
}
.bg .bottom .section1 ul li span {
  color: #06121e;
  font-size: 0.32rem;
}
.bg .bottom .section2 {
  width: 9.1733rem;
  height: 4.8rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  box-shadow: 0rem 0rem 0.16rem rgba(82, 82, 82, 0.16);
  padding: 0.2133rem;
  box-sizing: border-box;
  margin: 0.2667rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg .bottom .section2 .section2_l {
  background: url(../images/index/1.png) no-repeat;
  background-size: cover;
  width: 4.2667rem;
  height: 4.3467rem;
}
.bg .bottom .section2 .section2_l p:nth-child(1) {
  font-weight: 600;
  color: #ffffff;
  font-size: 0.4rem;
  margin-left: 0.4533rem;
  margin-top: 0.2133rem;
}
.bg .bottom .section2 .section2_l p:nth-child(2) {
  font-weight: 500;
  color: #eae8f2;
  font-size: 0.2667rem;
  margin-left: 0.6rem;
}
.bg .bottom .section2 .section2_r div p {
  margin-left: 0.204rem;
}
.bg .bottom .section2 .section2_r div p:nth-child(1) {
  font-weight: 600;
  color: #ffffff;
  font-size: 0.4rem;
  margin-top: 0.2133rem;
}
.bg .bottom .section2 .section2_r div p:nth-child(2) {
  font-weight: 500;
  color: #ffffff;
  font-size: 0.2667rem;
  margin-top: 0.0267rem;
}
.bg .bottom .section2 .section2_r div p:nth-child(3) {
  font-weight: 500;
  color: #ffffff;
  font-size: 0.2667rem;
  margin-top: 0.2133rem;
}
.bg .bottom .section2 .section2_r .section2_r_t {
  width: 4.2667rem;
  height: 2.1333rem;
  background: url(../images/index/2.png) no-repeat;
  background-size: cover;
}
.bg .bottom .section2 .section2_r .section2_r_b {
  width: 4.2667rem;
  height: 2.08rem;
  background: url(../images/index/3.png) no-repeat;
  background-size: cover;
}
.bg .bottom .section2 .section2_r .section2_r_b p {
  color: #21308f !important;
}
.bg .bottom .section3 {
  margin: 0.2667rem 0 0.1067rem 0;
  width: 9.1733rem;
  height: 3.7333rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  box-shadow: 0rem 0rem 0.16rem rgba(111, 111, 111, 0.16);
}
.bg .bottom .section3 .section3_t {
  opacity: 26%;
  width: 9.1733rem;
  height: 1.44rem;
  background-image: linear-gradient(180deg, #f24c59 0%, rgba(242, 140, 76, 0) 100%);
  border-radius: 0.2667rem 0.2667rem 0rem 0rem;
  box-shadow: 0rem 0rem 0.16rem rgba(111, 111, 111, 0.16);
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.4267rem;
  box-sizing: border-box;
}
.bg .bottom .section3 .section3_t .section3_t_l p:nth-child(1) {
  font-weight: 600;
  color: #000;
  font-size: 0.4267rem;
  margin: 0.3467rem 0 0.0533rem 0;
}
.bg .bottom .section3 .section3_t .section3_t_l p:nth-child(2) {
  font-weight: 500;
  color: #000;
  font-size: 0.2933rem;
}
.bg .bottom .section3 .section3_t .section3_t_r {
  padding-top: 0.48rem;
  box-sizing: border-box;
  display: flex;
}
.bg .bottom .section3 .section3_t .section3_t_r img {
  width: 0.64rem;
  height: 0.3733rem;
}
.bg .bottom .section3 .section3_t .section3_t_r span {
  display: block;
  width: 0.4rem;
  height: 0.3733rem;
  background-color: #000;
  border-radius: 0.0533rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 0.24rem;
  line-height: 0.3733rem;
  text-align: center;
  margin: 0 0.1333rem;
}
.bg .bottom .section3 .section3_t .section3_t_r i {
  color: #000;
  font-size: 0.24rem;
  font-weight: 600;
}
.bg .bottom .section3 .section3_b {
  padding: 0 0.8rem;
  box-sizing: border-box;
}
.bg .bottom .section3 .section3_b ul {
  display: flex;
  justify-content: space-between;
}
.bg .bottom .section3 .section3_b ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg .bottom .section3 .section3_b ul li img {
  width: 1.6rem;
  height: 1.6rem;
}
.bg .bottom .section3 .section3_b ul li span {
  font-weight: 600;
  color: #ff6200;
  font-size: 0.2933rem;
}
.bg .bottom .section4 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 9.6533rem;
  height: 2.6133rem;
  background: url(../images/index/9.png) no-repeat;
  background-size: cover;
}
.bg .bottom .section5 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bg .bottom .section5 > div {
  width: 4.96rem;
  height: 3.68rem;
  background: url(../images/index/10.png) no-repeat;
  background-size: cover;
}
.bg .bottom .section5 > div p:nth-child(1) {
  margin-top: 0.64rem;
  margin-left: 0.6133rem;
  font-weight: 600;
  color: #000000;
  font-size: 0.4267rem;
}
.bg .bottom .section5 > div p:nth-child(2) {
  width: 1.7429rem;
  height: 0.4533rem;
  background-color: #ffa500;
  border-radius: 0.3733rem;
  color: #ffffff;
  font-size: 0.2667rem;
  margin-top: 0.1333rem;
  margin-left: 0.5867rem;
  text-align: center;
  line-height: 0.4533rem;
}
.bg .bottom .section5 .section5_l {
  margin-left: -0.1867rem;
}
.bg .bottom .section5 .section5_r {
  width: 4.96rem;
  height: 3.68rem;
  background: url(../images/index/11.png) no-repeat;
  background-size: cover;
}
.bg .bottom .section6 {
  margin: 0 auto 0.32rem;
}
.bg .bottom .section6 ul {
  display: flex;
  justify-content: space-between;
}
.bg .bottom .section6 ul li {
  width: 2.1333rem;
  height: 3.2rem;
  background-color: #fff;
  overflow: hidden;
}
.bg .bottom .section6 ul li p:nth-child(1) {
  font-weight: 600;
  color: #262626;
  font-size: 0.4267rem;
  margin: 0.2933rem 0 0.16rem 0.3733rem;
}
.bg .bottom .section6 ul li p:nth-child(2) {
  width: 1.44rem;
  height: 0.4533rem;
  background-color: #ffffff;
  border: 0.0133rem solid;
  border-color: #f49641;
  border-radius: 0.0533rem;
  color: #f49641;
  font-size: 0.32rem;
  margin-left: 0.32rem;
  text-align: center;
  line-height: 0.4533rem;
}
.bg .bottom .section6 ul li img {
  margin-top: 0.4rem;
  margin-left: 0.5333rem;
  width: 2.0133rem;
  height: 2.0133rem;
}
.bg .bottom .section7 {
  display: flex;
  justify-content: space-between;
}
.bg .bottom .section7 ul li img {
  width: 4.48rem;
  height: 4.48rem;
}
.bg .bottom .section7 ul li p:nth-child(2) {
  font-weight: 600;
  color: #3d444d;
  font-size: 0.3733rem;
  text-align: center;
}
.bg .bottom .section7 ul li p:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1867rem;
}
.bg .bottom .section7 ul li p:nth-child(3) b {
  font-weight: 600;
  color: #eb5f3e;
  font-size: 0.48rem;
}
.bg .bottom .section7 ul li p:nth-child(3) i {
  color: #c0c5cc;
  font-size: 0.32rem;
}
.bg .bottom .section7 .section7_l li {
  width: 4.48rem;
  height: 6.8rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  box-shadow: 0rem 0rem 0.16rem rgba(139, 139, 139, 0.3);
  margin-bottom: 0.2133rem;
}
.bg .bottom .section7 .section7_r li {
  width: 4.48rem;
  height: 7.84rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  box-shadow: 0rem 0rem 0.16rem rgba(155, 155, 155, 0.3);
  margin-bottom: 0.2933rem;
}
.bg .bottom .section7 .section7_r li p:nth-child(2) em {
  transform: scale(0.7);
  display: inline-block;
  width: 0.9067rem;
  height: 0.4533rem;
  line-height: 0.4533rem;
  text-align: center;
  background-color: #eb5f3e;
  border-radius: 0.16rem;
  color: #ffffff;
  font-size: 0.2133rem;
}
.bg .bottom .section7 .section7_r li img:nth-child(4) {
  width: 1.9733rem;
  height: 0.4267rem;
  margin: 0 0 0.5067rem 0.2667rem;
}
