@import "./footer.css";
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
i,
em {
    font-style: normal;
}
@media screen and (min-width: 750px) {
    html {
      font-size: 75px !important;
    }
  }
@media screen and (max-width: 320px) {
    html {
      font-size: 32px !important;
    }
}
/* 全局背景色 */
.bg {
    background-color:#eee;
    width: 10rem;
    margin: 0 auto;
/* top */
    .top {             
        width:  10rem;
        height: 7.12rem;
        background-image:linear-gradient(180deg,#f24c59 0%,#f28c4c 100%);
        padding-top: 1.8133rem;
        box-sizing: border-box;
        margin: 0 auto;
/* header */
        header {
            width:  10rem;
            height: .8533rem;
            display: flex;
            padding-left: .4267rem;
            box-sizing: border-box;
            .header_l {
                width:7.9467rem;
                height:.8533rem;
                background-color:#ffffff;
                border-radius:2.48rem;
                display: flex; 
                align-items: center;       
                margin-right: .4rem;        
                img {
                    width: .3733rem;
                    height: .3733rem;
                    margin: 0 .2133rem 0 .64rem;
                }
                input {
                    width: 6.1333rem;
                    height:.5333rem;
                    font-family:PingFang SC;
                    color:#b0b8c2;
                    font-size:.3733rem;
                    border: none;
                    outline: none;
                }
            }
            .header_r {
                width: .48rem;
                height: .8rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                img {
                    width: .4267rem;
                    height: .4267rem;
                }
                p {
                    width:.6667rem;
                    height:.3467rem;
                    font-family:PingFang SC;
                    color:#ffffff;
                    font-size:.24rem;
                }
            }
            .header_r::after {
                content: "13";
                position: absolute;
                right: -0.32rem;
                top: -0.16rem;
                width:.5067rem;
                height:.3733rem;
                background-color:#f49641;
                border-radius:1.12rem;
                color:#ffffff;
                font-size:.2667rem;
                z-index: 1;
                text-align: center;
                line-height: .3733rem;
            }
        }
/* nav */
        nav {
            width: 10rem;
            height: .5867rem;
            overflow-x: scroll;
            margin: .3rem 0 .2667rem 0;
            padding-left: .5067rem;
            box-sizing: border-box;
            ul {
                width: 18rem;
                li {
                    float: left;
                    font-size: .3733rem;
                    color: #fff;
                    margin-right: .96rem;
                }
            }
        }
        nav::-webkit-scrollbar{
            display:none;        
        }
/* banner */
        .banner {
            width: 10rem;
            height: 3.3067rem;
            overflow-x: scroll;      
            ul {
                overflow: hidden;
                width: 50rem;
                height: 3.3067rem;
                display: flex;
                li {
                    margin: 0 0.4rem;
                    img {
                        width:9.1733rem;
                        height:3.3067rem;
                        border-radius:.2667rem;
                    }
                }
            }
        }
        .banner::-webkit-scrollbar{
            display:none;
        }
    }
/* bottom */
    .bottom {
        height: 80rem;
        width: 9.1733rem;
        margin: 0 auto;
/* section1 */
        .section1 {
            height:3.7867rem;
            width:9.1733rem;
            background-color:#ffffff;
            border-radius:.2667rem;
            box-shadow:0rem 0rem .2667rem rgba(114, 114, 114, 0.16);
            margin-top: .2667rem;
            padding-top: .16rem;
            box-sizing: border-box;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                li {
                    width: 1.7rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 1.28rem;
                        height: 1.2533rem;
                    }
                    span {
                        color:#06121e;
                        font-size:.32rem;
                    }
                }
            }
        }
/* section2 */
        .section2 {
            width:9.1733rem;
            height:4.8rem;
            background-color:#ffffff;
            border-radius:.2667rem;
            box-shadow:0rem 0rem .16rem rgba(82, 82, 82, 0.16);
            padding: .2133rem;
            box-sizing: border-box;
            margin: .2667rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .section2_l {
                    background: url(./../images/index/1.png) no-repeat;
                    background-size: cover;
                    width: 4.2667rem;
                    height: 4.3467rem;
                    p:nth-child(1) {
                        font-weight:600;
                        color:#ffffff;
                        font-size:.4rem;
                        margin-left: .4533rem;
                        margin-top: .2133rem;
                    }
                    p:nth-child(2) {
                        font-weight:500;
                        color:#eae8f2;
                        font-size:.2667rem;
                        margin-left: .6rem;
                    }
            }
            .section2_r {
                div {                
                    p {
                        margin-left: .204rem;
                    }    
                    p:nth-child(1) {
                        font-weight:600;
                        color:#ffffff;
                        font-size:.4rem;
                        margin-top: .2133rem;
                    }
                    p:nth-child(2) {
                        font-weight:500;
                        color:#ffffff;
                        font-size:.2667rem;
                        margin-top: .0267rem;
                    }
                    p:nth-child(3) {
                    font-weight:500;
                    color:#ffffff;
                    font-size:.2667rem;
                    margin-top: .2133rem;
                    }
                }                
                .section2_r_t {
                    width: 4.2667rem;
                    height: 2.1333rem;
                        background: url(./../images/index/2.png) no-repeat;
                        background-size: cover;
                }
                .section2_r_b {
                    width: 4.2667rem;
                    height: 2.08rem;
                        background: url(./../images/index/3.png) no-repeat;
                        background-size: cover;
                        p {
                            color:#21308f !important;
                        }
                }
            }
        }
/* section3 */
        .section3 {
            margin: .2667rem 0 .1067rem 0;
            width: 9.1733rem;
            height: 3.7333rem;
            background-color:#ffffff;
            border-radius:.2667rem;
            box-shadow:0rem 0rem .16rem rgba(111, 111, 111, 0.16);
            .section3_t {
                opacity:26%;
                width:9.1733rem;
                height:1.44rem;
                background-image:linear-gradient(180deg,#f24c59 0%,rgba(242, 140, 76, 0) 100%);
                border-radius:.2667rem .2667rem 0rem 0rem;
                box-shadow:0rem 0rem .16rem rgba(111, 111, 111, 0.16);
                display: flex;
                justify-content: space-between;
                padding: 0rem .4267rem;
                box-sizing: border-box;
                .section3_t_l {
                    p:nth-child(1) {
                        font-weight:600;
                        color:#000;
                        font-size:.4267rem;
                        margin: .3467rem 0 .0533rem 0;
                    }
                    p:nth-child(2) {
                        font-weight:500;
                        color:#000;
                        font-size:.2933rem;
                    }
                }
                .section3_t_r {
                    padding-top: .48rem;
                    box-sizing: border-box;
                    display: flex;
                    img {
                        width: .64rem;
                        height: .3733rem;
                    }
                    span {
                        display: block;
                        width: .4rem;
                        height: .3733rem;
                        background-color: #000;
                        border-radius: .0533rem;
                        font-weight:600;
                        color:#ffffff;
                        font-size:.24rem;
                        line-height: .3733rem;
                        text-align: center;
                        margin: 0 .1333rem;
                    }
                    i {
                        color: #000;
                        font-size:.24rem;
                        font-weight:600;
                    }
                }
            }
            .section3_b {
                    padding: 0 .8rem;
                    box-sizing: border-box;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 1.6rem;
                            height: 1.6rem;
                        }
                        span {
                            font-weight:600;
                            color:#ff6200;
                            font-size:.2933rem;
                        }
                    }
                }
            }
        }
/* section4 */
        .section4 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 9.6533rem;
            height: 2.6133rem;
            background: url(./../images/index/9.png) no-repeat;
            background-size: cover;
        }
/* section5 */
        .section5 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            >div {
                width: 4.96rem;
                height: 3.68rem;
                background: url(./../images/index/10.png) no-repeat;
                background-size: cover;
                p:nth-child(1) {
                    margin-top: .64rem;
                    margin-left: .6133rem;
                    font-weight:600;
                    color:#000000;
                    font-size:.4267rem;
                }
                p:nth-child(2) {
                    width:1.7429rem;
                    height:.4533rem;
                    background-color:#ffa500;
                    border-radius:.3733rem;
                    color:#ffffff;
                    font-size:.2667rem;
                    margin-top: .1333rem;
                    margin-left: .5867rem;
                    text-align: center;
                    line-height: .4533rem;
                }
            }
            .section5_l {
                margin-left: -0.1867rem;
            }
            .section5_r {
                width: 4.96rem;
                height: 3.68rem;
                background: url(./../images/index/11.png) no-repeat;
                background-size: cover;
            }
        }
/* section6 */
        .section6 {
            margin: 0 auto .32rem;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    width: 2.1333rem;
                    height: 3.2rem;
                    background-color: #fff;
                    overflow: hidden;
                    p:nth-child(1) {
                        font-weight:600;
                        color:#262626;
                        font-size:.4267rem;
                        margin: .2933rem 0 .16rem .3733rem;
                    }
                    p:nth-child(2) {
                        width:1.44rem;
                        height:.4533rem;
                        background-color:#ffffff;
                        border:.0133rem solid;
                        border-color:#f49641;
                        border-radius:.0533rem;
                        color:#f49641;
                        font-size:.32rem;
                        margin-left: .32rem;
                        text-align: center;
                        line-height:.4533rem;
                    }
                    img {
                        margin-top: .4rem;
                        margin-left: .5333rem;
                        width: 2.0133rem;
                        height: 2.0133rem;
                    }
                }
            }
        }
    /* section7 */
        .section7 {
            display: flex;
            justify-content: space-between;
            ul {
                li {
                    img {
                        width: 4.48rem;
                        height: 4.48rem;
                    }
                    p:nth-child(2) {
                        font-weight:600;
                        color:#3d444d;
                        font-size:.3733rem;
                        text-align: center;
                    }
                    p:nth-child(3) {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .1867rem;
                    }
                    p:nth-child(3) b {
                        font-weight:600;
                        color:#eb5f3e;
                        font-size:.48rem;
                    }
                    p:nth-child(3) i {
                        color:#c0c5cc;
                        font-size:.32rem;
                    }
                }
            }
            .section7_l {
                li {                    
                    width:4.48rem;
                    height:6.8rem;
                    background-color:#ffffff;
                    border-radius:.2667rem;
                    box-shadow:0rem 0rem .16rem rgba(139, 139, 139, 0.3);
                    margin-bottom: .2133rem;
                }
            }
            .section7_r {
                li {                    
                    width:4.48rem;
                    height:7.84rem;
                    background-color:#ffffff;
                    border-radius:.2667rem;
                    box-shadow:0rem 0rem .16rem rgba(155, 155, 155, 0.3);
                    margin-bottom: .2933rem;
                    p:nth-child(2) em {
                        transform: scale(0.7);
                        display: inline-block;
                        width:.9067rem;
                        height:.4533rem;
                        line-height:.4533rem;
                        text-align: center;
                        background-color:#eb5f3e;
                        border-radius:.16rem;
                        color:#ffffff;
                        font-size:.2133rem;
                    }
                    img:nth-child(4) {
                        width:1.9733rem;
                        height:.4267rem;
                        margin: 0 0 .5067rem .2667rem;
                    }
                }
            }
        }
    }
}