@import "./header2.css";
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
@media screen and (min-width: 750px) {
    html {
      font-size: 75px !important;
    }
  }
@media screen and (max-width: 320px) {
    html {
      font-size: 32px !important;
    }
}
body {
    background-color: #f9f9f9;
}
/*  section1 */
.section1 {
    background-color: #fff;
    margin: 1.28rem auto 0;
    width: 10rem;
    height: 5.44rem;
    .section1_t {
        margin-left: .4rem;
        padding: .5333rem .4rem 0 0;
        box-sizing: border-box;
        font-weight:700;
        color:#202020;
        font-size:.4267rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: .9333rem;
        &::after {
            content: "";
            width:9.6267rem;
            height:0rem;
            border:.0267rem solid;
            border-color:#ededed;
            position: absolute;
            bottom: -0.4rem;
            right: 0;
        }
        .section1_t_l {
            display: flex;
            align-items: center;
            img {
                width: .5333rem;
                height: .5333rem;
            }
            span {
                margin-left: .32rem;
            }
        }
    }
    .section1_b {
        color:#6a6c6b;
        font-size:.3733rem;
        div {
            span {
                display: inline-block;
                height:.9333rem;
                line-height: .9333rem;
                text-align: center;
                margin-left: .2667rem;
                background-color:#f2f2f2;
                border-radius:2.6667rem;
            }
            span:nth-child(1) {
                margin-left: .4533rem;
            }
        }
        div:nth-child(1) {
            span {
                width:1.8133rem;
            }
            span:nth-child(3) {
                width: 3.2rem;
            }
        }
        div:nth-child(2) {
            margin-top: .2667rem;
            span:nth-child(1) {
                width: 3.8133rem;
            }
            span:nth-child(2) {
                width: 3.4667rem;
            }
        }
        div:nth-child(3) {
            height: 1.3067rem;
            position: relative;
            img {
                width: .4rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
/*  section2 */
.section2 {
    margin: 0 auto;
    width: 10rem;
    ul {
        li {
            background-color: #fff;
            width: 10rem;
            height: 7.4933rem;
            margin-top: .2667rem;
            padding-top: 0.01rem;
            box-sizing: border-box;
            >div:nth-child(1) {
                color:#6a6c6b;
                font-size:.32rem;
                margin: .2667rem .5333rem 0 .5333rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                >div:nth-child(1) {
                    display: flex;
                    align-items: center;
                    img {
                        width: 1.0667rem;
                        height: 1.0667rem;
                    }
                    p {
                        margin-left: .2133rem;
                        img {
                            width: 1.0667rem;
                            height: .3467rem;
                        }
                    }
                }
                >div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    img {
                        width: .32rem;
                        height: .32rem;
                    }
                }
            }
            >div:nth-child(2) {
                margin: .3467rem 0 .3467rem .5333rem;    
                color:#b0b8c2;
                font-size:.32rem;            
            }
            >div:nth-child(3) {
                margin: 0 .5333rem .3467rem;
                color:#494955;
                font-size:.3733rem;
            }
            >div:nth-child(4) {
                margin: 0 .4rem;
                display: flex;
                justify-content: space-between;
                img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }
        }
    }
}
