@import "header2.css";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
body {
  background-color: #f9f9f9;
}
/*  section1 */
.section1 {
  background-color: #fff;
  margin: 1.28rem auto 0;
  width: 10rem;
  height: 5.44rem;
}
.section1 .section1_t {
  margin-left: 0.4rem;
  padding: 0.5333rem 0.4rem 0 0;
  box-sizing: border-box;
  font-weight: 700;
  color: #202020;
  font-size: 0.4267rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 0.9333rem;
}
.section1 .section1_t::after {
  content: "";
  width: 9.6267rem;
  height: 0rem;
  border: 0.0267rem solid;
  border-color: #ededed;
  position: absolute;
  bottom: -0.4rem;
  right: 0;
}
.section1 .section1_t .section1_t_l {
  display: flex;
  align-items: center;
}
.section1 .section1_t .section1_t_l img {
  width: 0.5333rem;
  height: 0.5333rem;
}
.section1 .section1_t .section1_t_l span {
  margin-left: 0.32rem;
}
.section1 .section1_b {
  color: #6a6c6b;
  font-size: 0.3733rem;
}
.section1 .section1_b div span {
  display: inline-block;
  height: 0.9333rem;
  line-height: 0.9333rem;
  text-align: center;
  margin-left: 0.2667rem;
  background-color: #f2f2f2;
  border-radius: 2.6667rem;
}
.section1 .section1_b div span:nth-child(1) {
  margin-left: 0.4533rem;
}
.section1 .section1_b div:nth-child(1) span {
  width: 1.8133rem;
}
.section1 .section1_b div:nth-child(1) span:nth-child(3) {
  width: 3.2rem;
}
.section1 .section1_b div:nth-child(2) {
  margin-top: 0.2667rem;
}
.section1 .section1_b div:nth-child(2) span:nth-child(1) {
  width: 3.8133rem;
}
.section1 .section1_b div:nth-child(2) span:nth-child(2) {
  width: 3.4667rem;
}
.section1 .section1_b div:nth-child(3) {
  height: 1.3067rem;
  position: relative;
}
.section1 .section1_b div:nth-child(3) img {
  width: 0.4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*  section2 */
.section2 {
  margin: 0 auto;
  width: 10rem;
}
.section2 ul li {
  background-color: #fff;
  width: 10rem;
  height: 7.4933rem;
  margin-top: 0.2667rem;
  padding-top: 0.01rem;
  box-sizing: border-box;
}
.section2 ul li > div:nth-child(1) {
  color: #6a6c6b;
  font-size: 0.32rem;
  margin: 0.2667rem 0.5333rem 0 0.5333rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section2 ul li > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.section2 ul li > div:nth-child(1) > div:nth-child(1) img {
  width: 1.0667rem;
  height: 1.0667rem;
}
.section2 ul li > div:nth-child(1) > div:nth-child(1) p {
  margin-left: 0.2133rem;
}
.section2 ul li > div:nth-child(1) > div:nth-child(1) p img {
  width: 1.0667rem;
  height: 0.3467rem;
}
.section2 ul li > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section2 ul li > div:nth-child(1) > div:nth-child(2) img {
  width: 0.32rem;
  height: 0.32rem;
}
.section2 ul li > div:nth-child(2) {
  margin: 0.3467rem 0 0.3467rem 0.5333rem;
  color: #b0b8c2;
  font-size: 0.32rem;
}
.section2 ul li > div:nth-child(3) {
  margin: 0 0.5333rem 0.3467rem;
  color: #494955;
  font-size: 0.3733rem;
}
.section2 ul li > div:nth-child(4) {
  margin: 0 0.4rem;
  display: flex;
  justify-content: space-between;
}
.section2 ul li > div:nth-child(4) img {
  width: 2.8rem;
  height: 2.8rem;
}
