@import "footer.css";
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
i,
em {
    font-style: normal;
}
@media screen and (min-width: 750px) {
    html {
      font-size: 75px !important;
    }
  }
@media screen and (max-width: 320px) {
    html {
      font-size: 32px !important;
    }
}
body {
    background-color:#f9f9f9;
}
/* header */
header {
    margin: 0 auto;
    width: 10rem;
    height: 3.84rem;
    background-image:linear-gradient(180deg,#fa4651 0%,#f4804c 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .header_l {
        display: flex;
        align-items: center;
        margin-bottom: 1.0667rem;
        >img {
            width: 1.5733rem;
            height: 1.6rem;
            margin: 0 .2667rem 0 .4rem;
        }
        div {
            p:nth-child(1) {
                font-weight:600;
                color:#ffffff;
                font-size:.4267rem;
                line-height:.32rem;
                margin-bottom: .2667rem;
            }
            p:nth-child(2) {
                color:#ffffff;
                font-size:.2933rem;
                line-height:.3467rem;
            }
        }
    }
    .header_r {
        margin-bottom: 2.6667rem;
        img:nth-child(2) {
            margin: 0 .45rem 0 .3rem;
        }
    }
    >img {
        width: 9.1733rem;
        height: 2.1333rem;
        position: absolute;
        bottom: -1.3333rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* section1 */
.section1{
    width: 9.1733rem;
    height: 2.6667rem;
    margin: 1.2267rem auto 0;
    border-radius: .2667rem;
    background-color: #fff;
    ul {
        width: 9.1733rem;
        height: 2.6667rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: .64rem;
                height: .64rem;
            }
            span {
                color:#494955;
                font-size:.32rem;
                margin-top: .16rem;
            }
        }
    }
}
/* section2 */
.section2{
    width: 9.1733rem;
    height: 2.6667rem;
    margin: .2667rem auto ;
    border-radius: .2667rem;
    background-color: #fff;
    ul {
        width: 9.1733rem;
        height: 2.6667rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: .9333rem;
                height: .9333rem;
            }
            span {
                color:#494955;
                font-size:.32rem;
                margin-top: .2133rem;
            }
        }
    }
}
/* section3 */
.section3 {
    margin: 0 auto .8rem;
    width: 9.1733rem;
    height: 3.2rem;
    padding: .2933rem .48rem .4rem .56rem;
    box-sizing: border-box;
    p {
        font-weight: 600;
        color:#202020;
        font-size:.3733rem;
        margin-bottom: .24rem;
    }
    img {
        width: 8.1333rem;
        height: 1.7867rem;
    }
}
/* like */
.like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .3733rem;
    img {
        width: .5867rem;
        height: .4rem;
        margin: .1067rem .2133rem 0 0 ;
    }
    span {
        font-weight:600;
        color:#262626;
        font-size:.48rem;
    }
}
/* nav */
nav {
    width: 10rem;
    margin: 0 auto;
    ul {
        width: 10rem;
        padding: 0 .1333rem 0 .3733rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            color:#6a6c6b;
            font-size:.3733rem;
        }
        li#current {
            font-weight:600;
            color:#06121e;
            font-size:.48rem;
            position: relative;
            &::after {
                content: "";
                width:.64rem;
                height:.0533rem;
                background-color:#ff6200;
                position: absolute;
                bottom: -0.16rem;
                left: 50%;
                transform: translateX(-50%);
            }
            &::before {
                content: "";
                width: .1067rem;
                height: .1067rem;
                border-radius: 50%;
                background-color:#ff6200;
                position: absolute;
                bottom: -0.16rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
/* section4 */
.section4 {
    margin: .0533rem auto 0;
    width: 10rem;
    display: flex;
    img:nth-child(1) {
        width: 4.96rem;
        height: 7.28rem;
    }
    img:nth-child(2) {
        width: 4.48rem;
        height: 4.48rem;
        margin-top: .24rem;
    }
}