* {
  margin: 0;
  padding: 0;
}
ul,
a,
input {
  list-style: none;
  text-decoration: none;
  outline: none;
}
html {
  width: 100%;
}
html .row {
  margin-left: 0;
  margin-right: 0;
}
html body {
  max-width: 1920px;
  height: 100%;
  background-image: linear-gradient(#154599, #918081, #dd6d50) !important;
}
.head {
  width: 100%;
  height: 60px;
}
.head .container {
  max-width: 1920px;
  margin: auto;
  z-index: 3;
}
.head-2 {
  height: 100px;
  border-radius: 15px;
}
.head-2 .list1 {
  display: none;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}
.head-2 .list2 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.head-2 .list2 .list-u {
  width: 200%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  position: absolute;
}
.head-2 .list2 .list-u li {
  flex: 1;
}
.head-2 .list2 .list-u li .list2-1 {
  width: 100%;
  height: 100%;
  color: #FFF;
  border-radius: 15px;
  background-color: skyblue;
}
.head-2 .list2 .list-u li .list2-1 h1 {
  line-height: 170px;
  text-align: center;
}
.head-2 .list2 .list-u li .list2-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #5ab9c1;
}
.head-2 .list2 .list-u li .list2-2 p {
  width: 45%;
  height: 45%;
  margin-top: 5px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 0;
  background-color: #78bb7b;
  border-radius: 15px;
}
.head-2 .list2 .list-u li .list2-2 p a {
  color: #FFF;
  text-decoration: none;
}
.head-2 .list2 .list-u li .list2-2 .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: red;
}
.head-2 .list2 .list-u li .list2-2 .title li {
  width: 100%;
  height: 50%;
}
.list2btn {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.list2btn .left {
  float: left;
  width: 40%;
  height: 40px;
  border: none;
  background-color: #5ab9c1;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
}
.list2btn .right {
  float: right;
  width: 40%;
  height: 40px;
  border-radius: 15px;
  background-color: #5ab9c1;
  border: none;
  color: #FFF;
  text-align: center;
}
.banner {
  width: 100%;
  margin-top: 100px;
  height: 100%;
}
.banner .ex1 {
  width: 95%;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background-color: #5ab9c1;
  border-radius: 15px;
  overflow: hidden;
}
.banner .ex1 .ex1-l {
  width: 120px;
  height: 120px;
}
.banner .ex1 .ex1-l img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.banner .ex1 .ex1-r {
  width: 90%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.banner .ex1 .ex1-r p:nth-child(1) {
  height: 15%;
  text-align: center;
  color: #FFF;
  margin-top: 10px;
}
.banner .ex1 .ex1-r div {
  width: 100%;
  height: 60%;
  color: #FFF;
  text-align: left;
  text-indent: 2em;
  overflow-y: scroll;
}
.banner .ex1 .ex1-r p:nth-child(3) {
  width: 100%;
  height: 15%;
  text-align: center;
  color: #FFF;
  display: flex;
  margin-top: 10px;
}
.banner .ex1 .ex1-r p:nth-child(3) span {
  flex: 1;
}
.banner .ex1:hover {
  margin: 25px 0px 25px 10px;
  box-shadow: 0 0 45px #FFF;
}
