* {
    margin: 0;
    padding: 0;
}


ul,
a,
input {
    list-style: none;
    text-decoration: none;
    outline: none;
}



html {
    width: 100%;

    .row {
        margin-left: 0;

        margin-right: 0;
    }

    body {
        max-width: 1920px;
        height: 100%;
        background-image: linear-gradient(rgb(21, 69, 153), rgb(145, 128, 129), rgb(221, 109, 80)) !important;
    }
}

.head {
    width: 100%;
    height: 60px;

    .container {
        max-width: 1920px;
        margin: auto;
        z-index: 3;
    }
}

.head-2 {
    height: 100px;
    border-radius: 15px;


    .list1 {
        display: none;
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;


    }

    .list2 {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        .list-u {
            width: 300%;
            height: 100%;
            border-radius: 15px;
            display: flex;
            position: absolute;

            li {
                flex: 1;

                .list2-1 {
                    width: 100%;
                    height: 100%;
                    color: #FFF;
                    border-radius: 15px;
                    background-color: skyblue;

                    h1 {
                        line-height: 170px;
                        text-align: center;
                    }
                }

                .list2-2 {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    background-color: #5ab9c1;

                    p {
                        width: 45%;
                        height: 45%;
                        margin-top: 5px;
                        text-align: center;
                        line-height: 100px;

                        margin-bottom: 0;
                        background-color: #78bb7b;

                        border-radius: 15px;

                        a {
                            color: #FFF;
                            text-decoration: none;
                        }
                    }

                    .title {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        background-color: red;

                        li {
                            // #cbe9bf
                            width: 100%;
                            height: 50%;

                        }
                    }


                }
            }
        }
    }

}

// listbtn 按钮
.list2btn {
    width: 100%;
    height: 60px;
    margin-top: 20px;

    .left {
        float: left;
        width: 40%;
        height: 40px;
        border: none;
        background-color: #5ab9c1;
        border-radius: 15px;
        color: #FFF;
        text-align: center;
    }

    .right {
        float: right;
        width: 40%;
        height: 40px;
        border-radius: 15px;
        background-color: #5ab9c1;
        border: none;
        color: #FFF;
        text-align: center;
    }
}

.banner {
    width: 100%;
    margin-top: 100px;
    height: 100%;

    .ex1 {
        width: 95%;
        height: 150px;
        margin: auto;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        background-color: #5ab9c1;
        border-radius: 15px;
        overflow: hidden;

        .ex1-l {
            width: 120px;
            height: 120px;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
        }

        .ex1-r {
            width: 90%;
            height: 100%;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            p:nth-child(1) {
                height: 15%;
                text-align: center;
                color: #FFF;
                margin-top: 10px;
            }

            div {
                width: 100%;
                height: 60%;
                color: #FFF;
                text-align: left;
                text-indent: 2em;
                overflow-y: scroll;
            }

            p:nth-child(3) {
                width: 100%;
                height: 15%;
                text-align: center;
                color: #FFF;
                display: flex;
                margin-top: 10px;

                span {
                    flex: 1;
                }

            }

        }
    }

    .ex1:hover {
        margin: 25px 0px 25px 10px;

        box-shadow: 0 0 45px #FFF;
    }

}